<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">About</h1>
	<p class="portfolio-single__role">
		Crazy Cat Lady and a Creative Interactive Art Director
	</p>

	<div class="portfolio-single__intro">
		<p>
		I presently working as Digital Designer/AD at Synertial Motion Capture in Stockholm. I will be starting as UX Designer with Earth People in jan.

		<br>I love coffe, so if you want to grab one, <a href="jennieweglin@gmail.com">let me know</a>.
	</p>
		</div>
			<div class="portfolio-single__images">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/6YyelIUC4BY" frameborder="0" allowfullscreen></iframe>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/FoX09nlUUnA" frameborder="0" allowfullscreen></iframe>
		</div>

{% endblock %}
