<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">About</h1>
	<p class="portfolio-single__role">
		Crazy Cat Lady and a Creative Interactive Art Director
	</p>

	<div class="portfolio-single__intro">
		<p>
		If I would describe myself, I'd say I'm a crazy cat lady and a creative interactive art director. At the moment I'm Creative Director and co-founder of <a href="https://krig.io/">KRIG.io</a> and am going from being a UX Designer to become more interactive Designer by learning front-end development. I love coffee, so if you want to grab one, <a href="mailto:jennieweglin@gmail.com">let me know</a>.
	</p>
		</div>
			<div class="portfolio-single__images">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/6YyelIUC4BY" frameborder="0" allowfullscreen></iframe>
		</div>

{% endblock %}
