<!-- layout.njk -->

{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">About</h1>
	<p class="portfolio-single__role">
		UX, UI and Cats
	</p>

	<div class="portfolio-single__intro">
		<p>
		I currently work as UX Designer at <a href="https://earthpeople.se/">Earth People</a> in Stockholm. I like coffee, if you want to grab one, <a href="mailto:jennieweglin@gmail.com">contact me</a>.
	</p>
		<div class="icons">
				<a href="https://www.linkedin.com/in/jennieweglin/"><img src="dest/img/linkedin-with-circle.svg" alt="linkedin"></img></a>
				<a href="https://twitter.com/ja_weglin"><img src="dest/img/twitter-with-circle.svg" alt="twitter"></img></a>
				<a href="https://www.instagram.com/ja_weglin/"><img src="dest/img/instagram-with-circle.svg" alt="instagram"></img></a>
		</div>

		</div>
			<div class="portfolio-single__images">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/6YyelIUC4BY" frameborder="0" allowfullscreen></iframe>
		</div>



	</main>
	<script src="dest/jquery.min.js" type="text/javascript"></script>
  <script src="dest/main.min.js"></script>
	</script>
</body>
</html>

{% endblock %}
