<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="catbeat">
  <div class="keys">
    <div data-key="65" class="key">
      <kbd>A</kbd>
      <span class="sound">screech</span>
    </div>
    <div data-key="83" class="key">
      <kbd>S</kbd>
      <span class="sound">meow</span>
    </div>
    <div data-key="68" class="key">
      <kbd>D</kbd>
      <span class="sound">grrr</span>
    </div>
    <div data-key="70" class="key">
      <kbd>F</kbd>
      <span class="sound">scream</span>
    </div>
    <div data-key="71" class="key">
      <kbd>G</kbd>
      <span class="sound">meow</span>
    </div>
    <div data-key="72" class="key">
      <kbd>H</kbd>
      <span class="sound">screech</span>
    </div>
  </div>
 </div>
  
  <div class="playing">
  <div class="sound">
  <audio data-key="65" src="src/sounds/cat_screech.wav"></audio>
  <audio data-key="83" src="src/sounds/cat_meow2.wav"></audio>
  <audio data-key="68" src="src/sounds/cat_growl.wav"></audio>
  <audio data-key="70" src="src/sounds/cat_scream.wav"></audio>
  <audio data-key="71" src="src/sounds/cat_meow_x.wav"></audio>
  <audio data-key="72" src="src/sounds/cat_screech2.wav"></audio>
  </div>
  </div>
 
 </main>

<script>

  window.addEventListener('keydown', function (e)
   {
    const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`);
    const key = document.querySelector(`.key[data-key="${e.keyCode}"]`);
    if (!audio) return;
    audio.currenTime = 0;
    audio.play();
    key.classList.add('playing');
   
    })
 
    function removeTransition (e){
      if (e.propertyName !== 'transform') return;
      this.classList.remove ('playing');
      
    }

    const keys = document.querySelectorAll('.key');
    keys.forEach(key => key.addEventListener ('transitionend', removeTransition));

</script>


<script src="dest/jquery.min.js" type="text/javascript"></script>
<script src="dest/main.min.js"></script>
</body>
</html>


{% endblock %}
