<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Cubit</h1>
	<p class="portfolio-single__role">
		Digital Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			Cubit was in the start-up stage of creating interactive glove or VR games and for flying drones amongst other things. I made the concept, branding identity and the webpage, UX, UI also for VR games.
	</div>
	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/cubit/landing.jpg" alt="cubit"></img>
		<img src="dest/img/portfolio/cubit/threads.jpg" alt="cubit"></img>
	</div>

{% endblock %}
