<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Energy Everything</h1>
	<p class="portfolio-single__role">
		Digital Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			I designed a website for a new energy company aimed for investors to invest in new tech within energy.
	</div>
	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/energy/eelanding.jpg" alt="Energy Everything"></img>
	</div>

{% endblock %}
