<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Earth People</h1>
	<p class="portfolio-single__role">
		UX Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			In 2017 I worked as a UX Designer at <a href="https://earthpeople.se/">Earth People</a> with various projects. I made the design from UX to UI for Internetstiftelsens <a href="https://digitalalektioner.iis.se/">Digitala Lektioner</a>. For <a href="https://lararformedlarna.se/">Lärarförmedlarna</a> I was part of remaking their existing app. For Orio I made the UX to the UI for their <a href="https://www.saabapp.com/">SaabApp</a>, which will work a bit like Kry for cars.
		</p>
	</div>

	<div class="portfolio-single__images">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/U3sdy1gS9PU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>

<div class="portfolio-single__images">
	<img src="dest/img/xd.png" alt=""></img>
</div>


{% endblock %}
