<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Fashion</h1>
	<p class="portfolio-single__role">
Fashion Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			I worked as a Fashion Designer for Mayla for about 5 years. I was designing from the very beginning and took part in building up the brand. I worked close to the CEO and lead Designer Marlene to create concepts, design collections, print design, making spec sheets (illustrator), pattern grading and being part of the fashion shows and photo shoots. I have previous experience of working with some other brands.
		</div>

	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/fashion/mayla2.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/mayla.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/asb1.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/asb2.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/asb3.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/hm.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/fashion/hm2.jpg" alt="fashion"></img>
	</div>

{% endblock %}
