<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Fair Fucking Sex</h1>
	<p class="portfolio-single__role">
	Concept Design
	</p>

	<div class="portfolio-single__intro">
		<p>
Fair Fucking Sex was a concept that we worked on for RealStars. They are an independent non-profit, activist organisation founded in 2010 that promotes fair sex and aims to put an end to sex trade and sex trafficking in Europe. Fair Fucking Sex is still today a visual manifestation and a concept where creative people who stand for freedom, integrity and strong civic participation, take a stand for fair sex – against trafficking. The Fair Fucking Sex t-shirt is part of this manifestation and a way to make an impact through style. All earnings are used in the combat against sex trade and trafficking in Europe.
	</div>

	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/ffs/nanna.jpg" alt="fairfuckingsex"></img>
		<img src="dest/img/portfolio/ffs/ffs1.jpg" alt="fairfuckingsex"></img>
		<img src="dest/img/portfolio/ffs/ffs2.jpg" alt="fairfuckingsex"></img>
		<img src="dest/img/portfolio/ffs/ffs3.jpg" alt="fairfuckingsex"></img>
		<img src="dest/img/portfolio/ffs/FairFuckingSex3.jpg" alt="fairfuckingsex"></img>
		<img src="dest/img/portfolio/ffs/FairFuckingSex4.jpg" alt="fairfuckingsex"></img>
	</div>

{% endblock %}
