<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">KRIG</h1>
	<p class="portfolio-single__role">
		Creative Director & Co-founder
	</p>

	<div class="portfolio-single__intro">
		<p>
			I am currently Creative Director and co-founder of freelance collective <a href="https://krig.io/">KRIG</a>. At the moment I am trying to broaden my knowledge from UX design to more interactive design by learning front-end development. Within KRIG I have been part of various projects such as making our new branding (on-going), branding/logo for <a href="http://www.technigo.io/">Technigo</a> and designing the UX for<a href="https://www.borama.se/">Borama</a>. We are currently also creating a platform for online safety <a href="https://xn--sker-loa.online/">Säker.online</a>, our own member system <a href="https://medlm.krig.io/login">Medlm</a> and a web application for organisation of shopping lists for events<a href="https://www.rodda.io/">Rodda</a>.
		</p>
	</div>
  <div class="portfolio-single__images">
  	<img src="dest/img/krig-site.png" alt=""></img>
	<img src="dest/img/technigo1.png" alt=""></img>
    <img src="dest/img/technigo2.png" alt=""></img>
    <img src="dest/img/technigo3.png" alt=""></img>
	</div>



{% endblock %}
