<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">KRIG</h1>
	<p class="portfolio-single__role">
		Creative Director & Co-founder
	</p>

	<div class="portfolio-single__intro">
		<p>
			I am currently work as Creative Director and am co-founder of freelance collective <a href="https://krig.io/">KRIG</a>. Here I have been part of various projects for amongst others <a href="http://www.technigo.io/">Technigo</a> (branding/logo). We are currently in the making of a site about online safety <a href="https://xn--sker-loa.online/">Säker.online</a> Our member system <a href="https://medlm.krig.io/login">Medlm</a> and a web application <a href="https://www.rodda.io/">Rodda</a>
		</p>
	</div>
  <div class="portfolio-single__images">
		<img src="dest/img/technigo1.png" alt=""></img>
    <img src="dest/img/technigo2.png" alt=""></img>
    <img src="dest/img/technigo3.png" alt=""></img>
	</div>



{% endblock %}
