<!-- layout.njk -->

{% extends "layout.njk" %}

{% block content %}

	<div class="portfolio">
	<a href="gizmoescape.html" class="portfolio__item">
			<figure>
				<img src="src/img/gizmo.png" alt="">
				<figcaption>
					<div class="portfolio__item-inner-caption">
						<div class="word">
							catch
						</div>
						<div class="word">
							Gizmo
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
	<a href="whatido.html" class="portfolio__item">
			<figure>
				<img src="src/img/crazy.png" alt="">
				<figcaption>
					<div class="portfolio__item-inner-caption">
						<div class="word">
							what
						</div>
						<div class="word">
							I do
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
	<a href="catbeat.html" class="portfolio__item">
	<figure>
		<img src="src/img/catwoman.jpg" alt="">
		<figcaption>
			<div class="portfolio__item-inner-caption">
				<div class="word">
					cat
				</div>
				<div class="word">
					beat
				</div>
			</div>
		</figcaption>
	</figure>
	</a>
	<a href="coolcat.html" class="portfolio__item">
			<figure>
				<img src="src/img/coolcat.jpg" alt="">
				<figcaption>
					<div class="portfolio__item-inner-caption">
						<div class="word">
							cool
						</div>
						<div class="word">
							cat	walk
						</div>
					</div>
				</figcaption>
			</figure>
		</a>
	<div class="portfolio__item">
	</div>
</div>

	</main>
	<script src="dest/jquery.min.js" type="text/javascript"></script>
  <script src="dest/main.min.js"></script>
	</script>
</body>
</html>

{% endblock %}