<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Print & Knit</h1>
	<p class="portfolio-single__role">
		Fashion Design
	</p>

	<div class="portfolio-single__intro">
		<p>
Part of my job as a Fashion Designer for Mayla I made print and knit design using Illustrator. Fabrics we working on were silk, cotton and silk-jaquard and wool knits.
	</div>

	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/print/print1.jpg" alt="print"></img>
		<img src="dest/img/portfolio/print/print2.jpg" alt="print"></img>
		<img src="dest/img/portfolio/print/print3.jpg" alt="print"></img>
		<img src="dest/img/portfolio/print/print4.jpg" alt="print"></img>
	</div>

{% endblock %}
