<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">QuantLeap</h1>
	<p class="portfolio-single__role">
		Digital Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			Web and logo design for start-up company QuantLeap.
	</div>
	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/quant/quantleap.jpg" alt="quantleap"></img>
	</div>

{% endblock %}
