<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Cubit</h1>
	<p class="portfolio-single__role">
		Digital Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
At the Synertial office in Stockholm I created a concept webpage for an interactive glove for VR games and for flying drones etc. I made UX and UI for a VR promo game that will come with the glove.
	</div>
	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/cubit/landing.jpg" alt="cubit"></img>
		<img src="dest/img/portfolio/cubit/about.jpg" alt="cubit"></img>
		<img src="dest/img/portfolio/cubit/threads.jpg" alt="cubit"></img>
	</div>

{% endblock %}
