<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">London Fashion Show</h1>
	<p class="portfolio-single__role">
Fashion Designer
	</p>

	<div class="portfolio-single__intro">
		<p>
			I graduated with a BA (hons) in Fashion Design with Business Studies at Univeristy of Brighton in 2008. The final collection was presented at London Graduate Fashion Week. The theme of the collection was inspired by Finnish Movie Director Aki Kaurismäki with touches of workwear clothes combined with traditional Swedish heritage fabrics such as reindeer leather, linnen, wool, embroidery and craftsmanship.
		</div>

	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/show/final1.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/show/final2.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/show/final3.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/show/final4.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/show/final5.jpg" alt="fashion"></img>
		<img src="dest/img/portfolio/show/final6.jpg" alt="fashion"></img>
	</div>

{% endblock %}
