<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Branding & Strategy</h1>
	<p class="portfolio-single__role">
		48 hour project
	</p>

	<div class="portfolio-single__intro">
		<p>
			The company Silvacore currently works towards a sustainable forestry in Sweden with a plan to expand within a few years. Our goal was to help them with branding and identity, using strategic methods and workshops. The client’s wish was to aim for higher decision makers and governmental support and had been met by resistance. Our solution would be to go though the young generation Y that will be the next forest owners in a near future and who are open to change. In this project I took part in creating the brand book as well as research, ideation and to create the informative concept video.
	</div>
	<div class="portfolio-single__images">
		<iframe src="https://player.vimeo.com/video/142372113" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% endblock %}
