<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Synertial</h1>
	<p class="portfolio-single__role">
		Digital Designer/AD
	</p>

	<div class="portfolio-single__intro">
		<p>
			I worked as a Digital Designer at the Stockholm office for Synertial Motion Capture <a href="https://synertial.com/">Synertial.com</a>. I was part of re-making their present website synertial.com as well as other projects within the studio. In the re-branding I was in charge of making the new product images.
	</div>
	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/synertial/small.jpg" alt="synertial"></img>
		<img src="dest/img/portfolio/synertial/small2.jpg" alt="synertial"></img>
		<img src="dest/img/portfolio/synertial/small3.jpg" alt="synertial"></img>
		<img src="dest/img/portfolio/synertial/small4.jpg" alt="synertial"></img>
		<img src="dest/img/portfolio/synertial/small5.jpg" alt="synertial"></img>
		<img src="dest/img/portfolio/synertial/small6.jpg" alt="synertial"></img>
	</div>

{% endblock %}
