<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Society Hack</h1>
	<p class="portfolio-single__role">
		48 hour project
	</p>

	<div class="portfolio-single__intro">
		<p>
Transdev and Holland & Philipsson approach Hyper Island students to help them come up with a better sustainable solution for public transportation. After an intense three days work we ended up with Qnect as a different way of travelling easier, causing less hassle or traffic jams during rush hour. In this project I designed the logo as well as being part of the teams ideation and production.
<div class="portfolio-single__images">
		<!-- TODO ADD VIDEO HERE -->
{% endblock %}
