<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Teklafestivalen</h1>
	<p class="portfolio-single__role">
		UX
	</p>

	<div class="portfolio-single__intro">
		<p>
For this project we helped Teklafestivalen to improve their current website with better UX and UI. We wanted to create a solution for the girls that could not attend the event to interact with the page throughout the year as well as on the day of the event. I was in charge of editing the concept video as well as participating in the UX, research and I wireframes for signing up.
	<div class="portfolio-single__images">
		<!-- TODO ADD VIDEO HERE -->
{% endblock %}
