<header class="header" role="banner">
	{# {% import 'macros/nav-macro.njk' as nav %}
	<!-- Creating the navigation with activePage = 'home' -->
	{{nav.active('home')}} #}
	<h1 class="header__logo">Jennie Kantor<span>p Wegl</span>in</h1>
</header>
