<div class="portfolio">
	<a href="acne.html" class="portfolio__item">
		<figure>
	    <img src="dest/img/1.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						Intern
					</div>
					<div class="word">
						ship
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="kompisbyran.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/1.2.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						UX - UI
					</div>
					<div class="word">
						Design
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="nofun.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/2.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						Brand
					</div>
					<div class="word">
						ing
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="peak.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/3.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						tech
					</div>
					<div class="word">
						art
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="pg.html" class="portfolio__item">
		<figure>
	    <img src="dest/img/4.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						campain
					</div>
					<div class="word">
						ad
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="tekla.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/5.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						UX
					</div>
					<div class="word">
						Design
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="qnekt.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/6.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						Society
					</div>
					<div class="word">
						hack
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="silvacore.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/7.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						Brand
					</div>
					<div class="word">
						ing
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="print.html" class="portfolio__item">
		<figure>
	    <img src="dest/img/8.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						print
					</div>
					<div class="word">
						knit
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="unicef.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/9.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						3 days
					</div>
					<div class="word">
						project
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="ffs.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/10.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						concept
					</div>
					<div class="word">
						design
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="kw.html" class="portfolio__item">
		<figure>
	  	<img src="dest/img/11.png" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						creat
					</div>
					<div class="word">
						ive
					</div>
				</div>
			</figcaption>
	  </figure>
	</a>
	<a href="teeeshit.html" class="portfolio__item">
		<figure>
			<img src="dest/img/12.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						CEO
					</div>
					<div class="word">
						CD
					</div>
				</div>
			</figcaption>
		</figure>
	</a>
	<a href="fashion.html" class="portfolio__item">
		<figure>
			<img src="dest/img/13.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						Fashion
					</div>
					<div class="word">
						design
					</div>
				</div>
			</figcaption>
		</figure>
	</a>
	<a href="#" class="portfolio__item">
		<figure>
			<img src="dest/img/14.jpg" alt="">
			<figcaption>
				<div class="portfolio__item-inner-caption">
					<div class="word">
						london
					</div>
					<div class="word">
						show
					</div>
				</div>
			</figcaption>
		</figure>
	</a>
	<div class="portfolio__item">

	</div>
</div>
