<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}

<div class="portfolio-single">
	<h1 class="portfolio-single__headline">Kompisbyrån</h1>
	<p class="portfolio-single__role">
		Interactive AD internship
	</p>

	<div class="portfolio-single__intro">
		<p>
			Three month internship at Acne Digital. I have been working close to the Interactive Director and all the people around for different projects.
		</p>
		<p>
			Some of the things I have been working on have been to re-design the Acne.se website, ideate and make concept for Absolut Vodka, IKEA, BMW, Telenor, Bredbandsbolaget, TOMBOY, NELLY.COM, Jason Bourne movie, Hewlett Packard, Lensway, Proenza Shoulder.
		</p>
	</div>

	<div class="portfolio-single__images">
		<img src="dest/img/portfolio/kompisbyran/kompis1.jpg" alt="Kompisbyrån"></img>
		<img src="dest/img/portfolio/kompisbyran/kompis2.jpg" alt="Kompisbyrån"></img>
		<img src="dest/img/portfolio/kompisbyran/kompis3.jpg" alt="Kompisbyrån"></img>
		<img src="dest/img/portfolio/kompisbyran/kompis4.jpg" alt="Kompisbyrån"></img>
	</div>

{% endblock %}
